<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>#{title}</title>
      style
            include ../stat/style.css

</head>
<body>
      <nav class="navbar">FILL IT.</nav>
      <form action="/" method="post" id="contact">
            <input type="text" name="name"  id="name" placeholder="Type your name here">
            <input type="text" name="surname" id="surname" placeholder="Type your surname here">
            <input type="number" name="number" id="number" placeholder="Type your mobile number here">
            <input type="email" name="email" id="email" placeholder="Type your email here">
            <textarea name="address" id="address" cols="30" rows="10" placeholder="enter your address here"></textarea>
            <button type="submit" class="btn">Submit</button>
      </form>
</body>
</html>